/build/
/Debug/
/Release/
/out/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.o
*.obj
*.so
*.dll
*.dylib
*.exe
*.pdb
*.idb
*.class

*.log
*.tmp
*.swp
*.swo
*.DS_Store
Thumbs.db

.idea/
*.code-workspace

*.stackdump
